@import url('https://fonts.googleapis.com/css2?family=Amita&family=Charm&family=Cinzel&family=Cormorant+Unicase&family=Dancing+Script&family=Ephesis&family=Great+Vibes&family=Kalam&family=Lora&family=Mate+SC&family=Petit+Formal+Script&family=Poppins:wght@300;400;500;600;700&family=Raleway&family=Roboto:wght@300&family=Space+Grotesk:wght@300&family=Ysabeau+SC:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.heading {
    text-align: center;
    color: #7c3aed;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.description {
    text-align: center;
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 100;
}

.container {
    padding: 1rem 0;
    text-align: center;
}

label {
    display: block;
    font-size: larger;
    margin: 1rem;
    font-weight: 600;
}

input {
    width: 15%;
    padding: 0.5rem 1rem;
    border: 2px solid #7c3aed;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

input:focus {
    outline: none;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #7c3aed;
    color: #fff;
    cursor: pointer;
}

#error-massage {
    color: red;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem;
}

table {
    width: 50%;
    margin: 1rem auto;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border: 2px solid #7c3aed;
    padding: 0.5rem;
}

footer {
    padding-top: 2.5rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.copyright {
    font-size: 1.3rem;
    font-weight: 100;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    list-style-type: none;
    padding: 1rem;
}

.link i {
    font-size: 2rem;
}

